body {
    background-color: gray;
}

h1 {
    font-family: 'Comic Sans MS Bold', 'Comic Neue', cursive;
    font-size: 4vw;
    text-align: center;
}

p {
    font-family: 'Comic Sans MS Bold', 'Comic Neue', cursive;
    font-size: 1em;
    text-align: center;

    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

input[type='submit'] {
    font-family: 'Comic Sans MS Bold', 'Comic Neue', cursive;


}

#generated {
    position: relative;
    max-width: 300px;
    max-height: 300px;

    margin: 10px, 10px, 10px, 10px;

}

#generated img {
    /* position: relative; */
    max-width: 300px;
    max-height: 300px;

    margin: 10px, 10px, 10px, 10px;
}

#generated .topTxt {
    position: absolute;
    max-width: 300px;
    max-height: 300px;
    /* left: 150px; */


    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    text-align: center;

    color: white;

    /* text outline/stroke code from https://www.codesdope.com/blog/article/adding-outline-to-text-using-css/ */
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000;
}

#generated .btmTxt {
    position: absolute;
    left: 50%;
    bottom: 0%;


    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    /* text-align: center; */

    color: white;

    /* text outline/stroke code from https://www.codesdope.com/blog/article/adding-outline-to-text-using-css/ */
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000;
}

#generated button {
    position: absolute;
    top: 0%;
    right: 0%;
}